__pycache__/

*.retry
*.swp
/util/.vagrant
/util/*.log
*.deb
*.Rproj
*.Rproj.user
*.Rhistory
*.html
*.json
*.zip
*.tar
*.gz
*.vscode
*.solitairetheme8
*.jpg
*.png
*.svg
*.h5
*.model
*.log
*.csv
*.xlsx
